# IAR Embedded Workbench
*.ewp
*.ewd
*.ewt
*.eww
*.dep
*.bak
*.log
*.lst
*.map
*.sbd
*.xcl
*.plg
*.htm
*.r43
*.bin
*.hex
*.elf
*.pbd
*.dbg
*.dat
*.d
*.o
*.obj
*.tmp
*.~*
settings/
Debug/
Release/
*.swp
*.swo
*.user
*.aps
*.ncb
*.sdf
*.opendb
*.VC.db
.vscode/